<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="null" threshold="null">
    
	<appender class="org.apache.log4j.QpidCompositeRollingAppender" name="ArchivingFileAppender">
        <param name="StaticLogFileName" value="true"/>
        <param name="file" value="${logs.dir}/${logprefix}qpid${logsuffix}.log"/>
        <param name="RollingStyle" value="1"/>
        <param name="CountDirection" value="0"/>
        <!--param name="MaxFileSize" value="10MB"/-->
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH-mm"/>
        <param name="MaxSizeRollBackups" value="-1"/>
        <param name="CompressBackupFiles" value="true"/>
        <param name="CompressAsync" value="true"/>
        <param name="backupFilesToPath" value="${logs.dir}/backup"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <appender class="org.apache.log4j.FileAppender" name="FileAppender">
        <param name="File" value="${logs.dir}/${logprefix}qpid${logsuffix}.log"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <appender class="org.apache.log4j.ConsoleAppender" name="STDOUT">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <!-- Qpid.Broker log is a special log category used to log only useful broker startup details -->
    <category additivity="true" name="Qpid.Broker">
        <priority value="debug"/>
        <appender-ref ref="STDOUT"/>
    </category>

    <category additivity="true" name="org.apache.qpid.server.queue.AMQQueueMBean">
        <priority value="info"/>
    </category>

    <!-- Provide warnings to standard output -->
    <category additivity="true" name="org.apache.qpid">
        <priority value="warn"/>
    </category>


    <!-- Used to generate extra debug. See debug.log4j.xml -->
    <!--<category additivity="true" name="org.apache.qpid.server.store">
        <priority value="debug"/>
    </category-->

    <!-- Set the commons logging that the XML parser uses to WARN, it is very chatty at debug -->
    <logger name="org.apache.commons">
    	<level value="WARN"/>
    </logger>

    <!-- Log all info events to file -->
    <root>
        <priority value="info"/>
        <!--appender-ref ref="FileAppender"/-->
        <appender-ref ref="ArchivingFileAppender"/>
    </root>

</log4j:configuration>
